body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

h4 {
	margin: 5px 0px;
}

.headers {
	color: white;
	text-decoration: underline;
	text-decoration-color: $color-primary;
	text-underline-offset: 14px;
	text-align: center;
}

@import "headings";
@import "copy";
