.about {
    background-color: $color-tertiaryDark;
    padding: 3rem 0 2rem 0;

    @media only screen and (max-width: 425px) {
        padding: 1.5rem 0 1rem 0;
      }

    &__div {
        width: 75%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media only screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);  
            width: 90%;
          }

          @media only screen and (max-width: 425px) {
            grid-template-columns: repeat(1, 1fr);  
          }
    }

    &__item {
        color: white;
        padding: 1rem;
    }

    &__icondiv {
        position: relative;
        height: 90px;
        width: 90px; 

        @media only screen and (max-width: 425px) {
            height: 70px;
            width: 70px;  
          }

        &__outer {
            display: flex;
        justify-content: center;
        }

        &__inner {
        background-color: $color-primary;
        z-index: 1;
        border-radius: 10%;
        padding: 0.5rem;
        height: 90px;
        width: 90px; 
        position: relative;
        @media only screen and (max-width: 425px) {
            height: 70px;
            width: 70px;  
          }
    
    }
    }

    &__iconBehind { 
            height: 90px;
            width: 90px;
            position: absolute;
            top: -10px; 
            right: -10px;
            background-color: #2d305a;
            border-radius: 10%;

            @media only screen and (max-width: 425px) {
                height: 70px;
                width: 70px;  
              }
        }

    &__icon {
        font-size: 10px;
        fill: white !important;
        color: white !important;
        background-color: $color-primary;
    }

    &__title {
        text-align: center;
    }

    &__description {
        font-size: 12px;
    }

    &__resume {
        grid-column: 1/-1;
        text-align: center;

        h3 {
            font-size: 24px;
        }
    }

}