.hero {
    background: linear-gradient(to left, rgba(14,17,68,.9), rgba(14,17,68,.85)), url("assets/hero.jpg") no-repeat top center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 2.2rem 0;
    color: white;
    
    &__img {
        margin: 0 auto;
        img {
            height: 20rem;
        }
    }

}